{% extends 'base.html.twig' %}
{% block title %}{{ pin.title }}{% endblock %}
{% block body %}
    <article>
         <h1>{{ pin.title }}</h1>
         <img src = {{ pin.imageName }} width="150" height="200" >
        <h5>{{ pin.description }}</h5>
        <p>By {{ pin.user.firstname ~" "~ pin.user.lastname}}</p>
        <p>Submitted {{ pin.createdAt|date }}</p>
        <p>Last Updated {{ pin.updateAt|date }}</p>
    </article>
    {% if app.user is same as(pin.user)%}
        <a href="{{ path('app_pin_edit', {id: pin.id}) }}">Edit Pin | </a>
        <a href="#" onclick="event.preventDefault(); confirm('Are you sure ?') && document.getElementById('js-pin-delete-form').submit();">Delete | </a>
    {% endif %}    
        <a href="{{ path('app_home') }}">Go Back</a>

        <form id="js-pin-delete-form" action="{{ path('app_pin_delete', {id: pin.id}) }}" method="post" style="display:none;">
            <input type="hidden" name="_method" value="DELETE">
        </form>
{% endblock %}
